{{ define "footer" }}
<div class="footbar">
    <div class="container">
        <div class="row">
            <footer class="footer full-width">
                <p class="mtop">
                    <a href="#" target="_blank"></a>
                </p>
            </footer>
        </div>
    </div>
</div>
{{ end }}