{{ define "navbar" }}
<div class="navbar">
    <div class="container">
        <div class="row">
            <nav class="navigation">
                <a href="/">Logo</a>
                <ul class="navigation-items">
                    <li class="navigation-item"><a class="navigation-link" href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{{ end }}